<html>
  <head>
    {% load staticfiles %}
    <link rel='stylesheet' type='text/css' href="{% static 'styles/styles.css'%}">
  </head>
  <body id='background'>
    <div id='menu'></div>
    <div style="clear: both;"></div>
    <div id='container'>
      <div id='login' style='auto-margin: 0;'>
        <div style="border: 1px solid #fff; background-color: white;">
            <input id="username" type="text" />
            <input id="password" type="text" />
        </div>
      </div>
    </div>
  </body>
</html>
